body {
  background-color: #f5f5f5;
}

@import "./homepage";
@import "./item";
@import "./thumbnail";
@import "./cart";

.nav-buttons-container {
  display: flex;
  justify-content: center;
  padding: 24px;
  .nav-buttons {
    text-transform: capitalize;
    border: none;
    padding: 12px 24px;
    border: 8px;
  }
}
