<LinkTo class="thumbnail" @route="item" @model={{@product.id}}>
  <div class="photo-container">
    <div
      class="photo-image"
      style="background-image:url('https://picsum.photos/id/{{@product.id}}/300')"
    ></div>
  </div>
</LinkTo>